* {
	margin: 0.3rem;
	padding: 0.4rem;
	box-sizing: border-box;
}

html {
	text-align: center;
}

p {
	font-size: 70%;
}

label {
	font-size: 0.9rem;
}

#civil_status {
	font-size: 0.9rem;
}

#gender {
	font-size: 0.9rem;
}

#nationality {
	font-size: 0.9rem;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #C4E1E6;
}

input {
	background-color: #E6C4E1;
}

select {
	background-color: #E1E6C4;
}

#submit_button {
	background-color: #A3B44B;
	color: black;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

